<nav class="light-green lighten-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">GREENZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/strains">Strains</a></li>
        <li><a href="/topten">Top Ten</a></li>
        <li><a href="/account">Account</a></li>
      </ul>
  </div>
</nav>

<div class="container">
	<h1>Greenz Account</h1>
		
	<h1>Sign Up!</h1>
		<img class="responsive-img" src="http://s.newsweek.com/sites/www.newsweek.com/files/styles/lg/public/2016/03/14/0314cannabisdrugepilepsy01.jpg">
		<div class="row">
			<form class="col s12" action="/users" method="POST">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">email</i>
						<input id="icon_prefix" type="text" class="validate" name="user_email">
						<label for="icon_prefix">Enter Email</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">face</i>
						<input id="icon_telephone" type="text" class="validate" name="user_name">
						<label for="icon_telephone">Enter Username</label>
					</div>
				</div>
				<button type="submit" class="btn btn-large light-green darken-4 cyan pulse"><i class="material-icons left">fingerprint</i> Create Account</button>
			</form>
		</div>
</div>
