<nav class="light-green lighten-1">
  <div class="nav-wrapper">
    <a href="index.handlebars" class="brand-logo">GREENZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="strains.handlebars">Strains</a></li>
        <li><a href="topten.handlebars">TOP TEN</a></li>
        <li><a href="account.handlebars">Account</a></li>
      </ul>
  </div>
</nav>
<div class="container">
	<h1>Greenz Account</h1>
		<div class="light-green darken-1 white-text">Sign up or access you Greenz account here</div>
		<div class="light-green darken-2 white-text">Enter email/username</div>
		<div class="light-green darken-3 white-text">Enter password</div>
	<h1>Sign In</h1>
		<img class="responsive-img" src="http://s.newsweek.com/sites/www.newsweek.com/files/styles/lg/public/2016/03/14/0314cannabisdrugepilepsy01.jpg">
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">email</i>
						<input id="icon_prefix" type="text" class="validate">
						<label for="icon_prefix">Enter Email</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">perm_identity</i>
						<input id="icon_telephone" type="tel" class="validate">
						<label for="icon_telephone">Name</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">face</i>
						<input id="icon_telephone" type="tel" class="validate">
						<label for="icon_telephone">Username</label>
					</div>
				</div>
			</form>
		</div>
		<button class="btn btn-large light-green darken-4 cyan pulse"><i class="material-icons left">fingerprint</i> Create Account</button>
</div>
