<div class="container">
    <h1>Eat-Da-Burger!</h1>
    <p>
        Welcome to Eat-Da-Burger! To devour the tasty burger of your choice, click the "NOM NOM NOM!" button below your desired burger.
    </p>
    <hr>
    <div class="row">
        {{!-- Burgers Menu --}}
        <div class="col-sm-6">
            <h3>Tasty Burger Menu</h3>
                   {{#each burgers}}
                        {{#unless this.devoured}}
                            
                            <h4 class="daBurger">{{this.burger_name}}

                                <form action='/burgers/{{this.id}}?_method=PUT' method="POST">
                                    <input type="hidden" name="devoured" value="true" />
                                    <button type="submit" class="btn btn-default">NOM NOM NOM!</button>                      
                                </form> 

                            </h4>
                           
                        {{/unless}}
                    {{/each}}           
        </div>  
        {{!--Devoured Burgers--}}
        <div class="col-sm-6">
            <h3>Devoured Burgers</h3>

                {{#each burgers}}
                    {{#if this.devoured}}
                            
                        <h4 class="text-muted daBurger">{{this.burger_name}}</h4>
                            
                    {{/if}}
                {{/each}}

        </div>
    </div>
    <hr>
    {{!-- Add Burger --}}
    <div class="row">
        <div class="col-sm-12">
            <h3>Add A Tasty Burger</h3>
            <p>
                Don't see a burger you like? Add Da Burger you want here!
            </p>
            <div id="addBurger">

                <form action="/burgers" method="POST">
                    <input type="text" id="name" name="burger_name" placeholder="Da Burger"><br>
                    <button type="submit" class="btn btn-default">Add Da Burger</button>
                </form>
            
            </div>
         </div>
    </div>
</div>