<nav class="light-green lighten-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">GREENZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/strains">Strains</a></li>
        <li><a href="/topten">TOP TEN</a></li>
        <li><a href="/account">Account</a></li>
      </ul>
  </div>
</nav>

<div id="background-image1"></div>