    <nav class="light-green darken-3">
      <div class="nav-wrapper">
        <a href="index.handlebars" class="brand-logo">GREENZ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="greenz.handlebars">Strains</a></li>
          <li><a href="topten.handlebars">TOP TEN</a></li>
          <li><a href="account.handlebars">Account</a></li>
        </ul>
      </div>
    </nav>
    <div id="background-image1">



    </div>
    <!-- <img class="responsive-img" src="assetsimages/project2-greenz.jpg"> -->