<nav class="light-green lighten-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">GREENZ</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/strains">Strains</a></li>
        <li><a href="/topten">TOP TEN</a></li>
        <li><a href="/account">Account</a></li>
      </ul>
  </div>
</nav>

<img class="responsive-img" src="http://www.slate.com/content/dam/slate/articles/news_and_politics/jurisprudence/2016/04/160427_JURIS_medical-marijuana-obama.jpg.CROP.promo-xlarge2.jpg">
<div class="container">
	<h1>GREENZ</h1>
		<p class="flow-text">
			Welcome to Greenz! On this page we will show you the two major types of
			cannabis plants.  Each strain has it's own range of effects on the body
 		  and mind resulting in a wide range of medicinal benefits.
		</p>
	<div class="row">
		<div class="col s12 flow-text light-green darken-1 center"> Explore Cannabis Plants</div>
	  <hr>
	  </div>
    <div class="row">
		  <div class="col s6">
		    <h1>SATIVA</h1>
				 	<p class="flow-text"> Sativas tend to provide more invigorating, uplifting cerebral effects that
						pair well with physical activity, social gatherings, and creative projects.
					</p>
					<button class="btn btn-large light-green darken-4 pulse">Sativa Strains</button>

			</div>
			<div class="col s6">
				<h1>INDICA</h1>
			 		<p class="flow-text"> Indica strains are believed to be physically sedating, perfect for relaxing
						with a movie or as a nightcap before bed.
				 	</p>
					<button class="btn btn-large light-green darken-4 pulse">Indica  Strains</button>
			</div>
		</div>
</div>

