    <nav class="light-green lighten-1">
    <div class="nav-wrapper">
      <a href="index.handlebars" class="brand-logo">GREENZ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="greenz.handlebars">Strains</a></li>
          <li><a href="topten.handlebars">TOP TEN</a></li>
          <li><a href="account.handlebars">Account</a></li>
        </ul>
    </div>
  </nav>
	<div class="container">
		<div class="row">
    <div class="col s12">
				<h1 class="center-align" >Strain Rankings</h1>
		</div>
  </div>
	<div>
  <ol>
    <li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

    <li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

    <li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

    <li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>

		<li>
      <img src="http://pipsum.com/100x100.jpg" />
      <h4>Headline</h4>
      <p>Lorem ipsum dolor sit amet...</p>
    </li>
  </ol>
</div>
	</div>